.course-head {
  background-image: "../../../assets/dummy_banner.jpg";
  background-color: #555555;
  color: white;
  padding: 2rem;
  margin-top: 4rem;
}

.course-intro {
  max-width: 80%;
  display: inline-block;
}
.course-intro h1{
  display: inline-block;
  white-space: normal;
  max-width: 80%;
}

.course-description{
  white-space: normal;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   max-height: 4.5em;
   line-height: 1.5em;
}

.full-course-description{
  margin: 2rem;
  text-align: justify;
}

.course-intro img{  
  height: 0.7rem;
  padding: 0.5rem;
  vertical-align: top;
  position: absolute;
  display: inline-block;
}

.course-highlights {
  color: black;
  width: fit-content;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 1.5rem; */
  /* padding: 1rem; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}

.course-head h2 {
  font-weight: lighter;
  font-style: italic;
}

.course-highlights-item {
  font-weight: lighter;
  padding: 1rem;
  /* border-left: 1px solid gray; */
}
/* 
.star-rating{
  display: inline-block;
  background-color: white;
  height: 1.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  border-left: 1px solid gray;
} */

.purchase-card {
  display: inline-block;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

.course-overview{
    padding: 2rem;
}

.syllabus-list{
  list-style: none;
  width: 70%;
}

.syllabus-list h3{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  margin: 0;
}

.module-list{
  list-style: none;
  margin-left: -2rem;
  visibility: inherit;
}

.module-list li{
  padding: 5px;
}
