.course-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    /* display: flex; */ 
    /* justify-content: center; */
    flex-wrap: wrap;
    /*justify-content: space-evenly; */
    margin-left: 3rem;
    margin-right: 3rem;
}