.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
}

.chat__body {
    flex: 1;
    background-image: url("../../assets/chat_banner.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__body::-webkit-scrollbar {
    display: none;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #F3F4F7;
    margin-bottom: 30px;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
    margin-top: 10px;
    color: gray;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__receiver {
    margin-left: auto;
    background-color: #bdbbb0;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
    place-items: center;
    place-content: space-between;
    /* place-content: space-evenly; */
}

.chat__footer > form > Input {
    flex: 1;
    border-radius: 30px;
    outline-width: 0;
    padding: 10px;
    border: none;
}

.chat_footer-input{
    flex: 1;
    border-radius: 30px;
    outline-width: 0;
    padding: 10px;
    /* border: none; */
    border-style: solid;
    width: 230%;
}

.chat_footer-input:focus{
    border-width: 3px;
    /* background:pink; */
}

.form-control label{
    margin-bottom: 0rem;
}

.chat__footer > form > Button {
    display: none;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    transition: all .5s ease;
    border: none;
    background: darkgrey;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 13px;
}

.chat_footer-button{
    display: none;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    transition: all .5s ease;
    border: none;
    background: darkgrey;
    border-radius: 30px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 13px;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.surgeChat-default{
    text-align:center;
    font-size:50px;
    color: green;
    margin: auto;
    font-family: monospace;
    font-variant: ordinal;
}