.form-container{
    padding: 1rem;
    position: relative;
}

.form{
    margin: 0 auto;
    padding: 1rem;
    top: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: gray;
}

.map-frame{
    text-align: center;
    border: 1rem;
    width: 90%;
    padding: 3rem;
}