.form-container {
  padding: 1rem;
}

.form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.editor {
  height: max-content;
}


.box{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
}

.mr10{
  background-color: rgb(243, 37, 10);
  border-radius: 0.6rem;
  margin-left: 1rem;
  height: 6px;
  width: 2px;
  text-align: center;
}

.mr101{
  background-color: rgb(78, 84, 136);
  border-radius: 0.6rem;
  margin-left: 1rem;
  height: 6px;
  width: 2px;
  text-align: center;
}