.course-card {
    width: 50vw;
    margin-top: -1rem;
    margin-left: 2.5%;
    height: 10rem;;
  }

  .course-item {
    /* margin: 0.5rem; */
    /*width: 20rem; */
    /* min-width: 30vw; */
    max-width: 100vw;
    height: max-content;
    /*min-width: 17.5rem; */
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-bottom: 3rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 4rem;
  }
  /* @media screen and (min-width:786px){
    .course-item {
      width: 45vw;
    }
  } */
  
  .course-item h4 {
    display: flex;
    padding: 1rem;
    white-space: normal;
    padding-top: 4px;
    padding-bottom: 4px;
    /* padding-left: 2px; */
    border-color: #525C6A;
    border-radius: 10px;
    background-color: #C7CCD1;
    text-align: justify;
    margin-bottom: 12px;
  }
  
  .course-item p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 3em;
    line-height: 1rem;
    margin-top: 0rem;
    margin-bottom: 16px;
    padding-bottom: 2px;
  }
  
  .course-banner {
    width: 100%;
  }
  
  
  .live-tag {
    height: 1rem;
    float: right;
    margin-right: -1.5rem;
    margin-top: -8rem;
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35); */
  }

  @media (max-width: 768px) {

    .course-item{
      margin-right: 4vw;
    }
  }