
.cardcoursehover{
    margin-bottom: 0.6vw;
    margin-left:1vw;
    display: block;
    /* background: rgba(29,53,87,0.6); */
    background: rgba(235,233,233,0.7);
    padding-top: 1vw;
    cursor: pointer;
}



.contents{
    /* width: 0.2px; */
    background: rgba(29,53,87,0.6);
    text-align: left;
    padding:0.5vw;
}

.contents h4{
    margin-left: 0.7rem;
    color: #22223b;
    font-size: 30px;
}

.contents p{
    margin-left: 0.7rem;
    color: #f2e9e4;
    font-size:20px;
    margin-top:5px;
}

.contents h6{
    margin-left: 0.7rem;
    color: #c9ada7;
    font-size:20px;
    margin-top:0.5vw;
    text-align: right;
    margin-right: 0.2vw;
}


.instructor-icon{
    color: #c9ada7;
    font-size:17px;
    padding-right:2px;
}