.nav-links {
  list-style: none;
  /* margin: 0; */
  /* margin-right: 1rem; */
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .nav-links li {
  margin: 1rem;
} */

/* .main-navigation__header-nav .nav-links li:not(:last-child){
  border-right: 1px solid var(--secondaryColor);
} */

.nav-links a,
.nav-links a a {
  border-bottom: 1px solid transparent;
  color: var(--secondaryColor) !important;
  text-decoration: none;
  padding: 0rem 1rem 0.5rem 1rem;
  transition: all 0.2s ease;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  /* background: #32abdd; */
  border-color: white;
  /* border-radius: 0.5rem; */
  color: white !important;
  font-weight: bold;
}

.profile-button {
  cursor: pointer;
  border: 1px solid var(--secondaryColor);
  color: var(--primaryColor);
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.profile-button:hover,
.profile-button:active {
  /* background: #32abdd !important ; */
  border-color: white;
  border-radius: 0.5rem;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid transparent;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    border: 1px solid #292929;
    background: darkseagreen;
    color: #292929;
    border-radius: 0.5rem;
  }
}

.signed-nav{
  margin-right: 12rem;
}


/* Dropdown Button */
.dropbtn {
  margin-left: 1rem;
  background: transparent;
  box-shadow: 1px 2px #d4d0d0;
  border-bottom: 1px solid transparent;
  color: var(--secondaryColor) !important;
  text-decoration: none;
  font-weight: bold;
  padding: 0rem 1rem 0.5rem 1rem;
  transition: all 0.2s ease;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 0.1rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-weight: bold;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px 12px 12px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(112, 112, 177);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent; color: black; font-weight: bold}

