@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
    url(./util/fonts/Raleway-Regular.ttf) format("truetype");
}

:root{
  /* --primaryColor: #140D4F; */
  /* --secondaryColor: #FCBF49; */
  /* --secondaryColor: #0B0033; */
  /* --lightBackground: #D8DCFF; */
  /* --lightBackground: #DAE3E7; */
  /* --matteRed: #C3423F; */

  /* --primaryColor: #140D4F;
  --secondaryColor: #4F6D7A;
  --lightBackground: #F1FAEE;
  --matteRed: #F1FAEE;
  --paleYellow: #FED766;
  --footerColor: #F1FAEE; */

  /* --primaryColor: #EF5B5B;
  --secondaryColor: #EF5B5B;
  --lightBackground: #C3C9D5;
  --matteRed: #C3C9D5;
  --paleYellow: #FED766;
  --footerColor: #C3C9D5; */

  /* --primaryColor: #EF5B5B;
  --secondaryColor: #EF5B5B;
  --lightBackground: #FFF2F1;
  --matteRed: #FFF2F1;
  --paleYellow: #FED766;
  --footerColor: #FFF2F1; */

  /* --primaryColor: #EF5B5B;
  --secondaryColor: #EF5B5B;
  --lightBackground: #FFF2F1;
  --matteRed: #FFF2F1;
  --paleYellow: #FED766;
  --footerColor: #FFF2F1; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #000000;
  --matteRed: #000000;
  --paleYellow: #FED766;
  --footerColor: #000000; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #0A0A0A;
  --matteRed: #0A0A0A;
  --paleYellow: #FED766;
  --footerColor: #0A0A0A; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #7A7A7A;
  --matteRed: #7A7A7A;
  --paleYellow: #FED766;
  --footerColor: #7A7A7A; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #7A7A7A;
  --matteRed: #7A7A7A;
  --paleYellow: #FED766;
  --footerColor: #7A7A7A; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #B8B8B8;
  --matteRed: #B8B8B8;
  --paleYellow: #FED766;
  --footerColor: #B8B8B8; */

  /* --primaryColor: #FFFFFF;
  --secondaryColor: #FFFFFF;
  --lightBackground: #2F3337;
  --matteRed: #2F3337;
  --paleYellow: #FED766;
  --footerColor: #2F3337; */

  --primaryColor: #2F3337;
  --secondaryColor: #FFFFFF;
  --lightBackground: #FFFFFF;
  --matteRed: #FFFFFF;
  --paleYellow: #FED766;
  --footerColor: #2F3337;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightBackground);

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.slide-in-top-enter {
  /* transform: translateY(-100%); */
  opacity: 0;
  transition: all 200ms;
}

.slide-in-top-enter-active {
  /* transform: translateY(0); */
  opacity: 1;
  transition: all 200ms ease-in;
}

.slide-in-top-exit {
  /* transform: translateY(0%); */
  opacity: 1;
  transition: all 200ms ease-out;
}

.slide-in-top-exit-active {
  /* transform: translateY(-100%); */
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
